.container{
  max-width: 600px;
  background-color: #FFF5EE;
  margin: auto;
  padding-left: 75px;
  padding-right: 75px;
  border-style: solid;
  overflow: auto;
}
body {
  background-color: gray;
}
.left-column {
  float:left;
  overflow: auto;
  width:50%;
}
.right-column {
  float: right;
  overflow: auto;
  width: 50%;
}
@@media (min-width:650px) {

}
h2 {
  text-decoration: underline;
  font-family: monospace;
  color: purple;
  
}
